<div class="banner background-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dngfqo2nf/image/upload/v1645307119/production/Stalker2_ly9imk.jpg);">
  <div class="container">
    <h1>Watch lists</h1>
    <p>Movies that you may or may not want to watch</p>
    <%= link_to "Create your own list ...", new_list_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container mt-4">


  <div class="cards">
    <% @lists.each do |list| %>
      <% url_pic =  cl_image_path list.photo.key %>
      <%= link_to list.name, list_path(list), class: 'card-category', style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{url_pic})" %>
    <% end %>
  </div>
</div>
